.App-header {
  
    min-height: 50%;
  
    padding-bottom: 10px;
  }

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#root{
  height: 100%;
  width: 100%;
}
.App{
  height: 100%;
}
.carousel-main{
  height: 300px;
  margin: 10px 15px;
}

img{
  width: 100%;
}
.pic-div{
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px;
  width: 100%;
  height: 100%;
  
}
.pic-div-img{
  height: 95%;
  width: 95%;
  margin: 5px 5px;
}
.carousel-div-top, .carousel-div-bottom{
  border: solid 1px;
  display: flex;
  flex-direction: row;
  height: 50%;
}
.sub-carousel-main{
  height: 350px;
}

.carousel-inner, .carousel-item, .active, .A123{
  height: 100%;
}


.header{
  height: 50px;
  width: 100%;
  /* border-bottom:  solid 1px; */
  display: flex;
  flex-direction: row;
}
.header-menu{
  width: 50%;
  /* border: solid 1px; */
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header-user{
  width: 50%;
  /* border: solid 1px; */
  height: 50px;
  display: flex;
  align-items: center;
}

.header-menu-icon{
  margin: 0px 15px;
}
.header-user-icon{
  margin: 0px 15px;
  color: black;
}
.fa-user-circle:before{
  color: black;
}
/*//----------------------------------------------------------------//*/


.logo-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 10px 0px;
}

.logo-pic {
  width: 90%;
}

.landing-Page-desc {
  font-size: 20px;
  text-align: center;
  word-break: break-word;
  margin: 10px 10px;
}


.landing-Page-arrow-text {
  text-align: center;
}
 

.landing-Page-arrow-icon{
  display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
}

.landing-Page-arrow-pic {
  width: 25%;
}
.log-sign-div{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.home-icon{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.home-icon-pic{
  width: 10%
}

/*//----------------------------------------------------------------//*/
.slide-main-div{
  height: 285px;
  margin: 0px 10px;

}
.slide-title{
  font-size: 18px;
}
.slide-main{
  border: solid 1px;
  height: 230px;
}
.slide-div-top, .slide-div-bottom{
  display: flex;
  flex-direction: row;
  border: solid 1px;
  height: 50%;
}
.slide-city-name{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;

}
.slide-city-name-background{
  width: 25px;
  color: white;
  font-size: 25px;
  background-color: lightslategray;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90px;
  height: 40px;
  opacity: 0.5;
}
.slide-pic-div{
  border: solid 1px;
  width: 50%;
  position: relative;
  text-align: center;
  color: white;
}
.slide-pic-div-img{
  height: 100%;
}
.slick-dots{
  height: 30px;
}


.test{
  background-color: red;
}
.fade-enter{
opacity: 0.01;

}
.fade-enter-active{
opacity: 1;
transition: opacity 1000ms ease-in;

}
.fade-exit{
  opacity: 1;
  background-color: royalblue;

}
.fade-exit-active{
  opacity: 0.01;
  transition: opacity 1000ms ease-in;
}
.remove-btn {
  margin-right: 0.5rem;
}

.betweenCityAndCountry{
  margin: 0px 10px;
}

.searchBar-main{
  display: flex;
  flex-direction: row;
  border-top: solid 1px;
  border-bottom: solid 1px;
}
.searchBar-icon-div{
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: start;
  margin: 0px 8px;
}
.searchBar-icon{
  font-size: 1.5em;
}
.searchBar-input-div{
  width: 90%;
  margin: 0px 8px;
}


